@charset "utf-8";

 /*/
/* Base Styles
*/

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

/* Remove text-shadow in selection highlight.
 * Note: The selection declarations have to be separate, otherwise they don't work.
*/
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* A better-looking default horizontal rule.
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  background: #ccc;
  background: rgba(0,0,0,.2);
  margin: 1em 0;
}

/* Remove the gap between images and the bottom of their containers.
*/
img {
  vertical-align: middle;
}

/* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical;
}



 /*/
/* Site-Specific Styles
*/


/*

   Add your own styles here.

*/



 /*/
/* Helper Classes
*/


/* Hide on both screenreaders and browsers.
*/
[hidden],
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide assistive text for screenreaders from visual browsers, but allow elements
   such as <input> to be focussed when navigating via the keyboard.
*/
[data-assistive]:not(:focus) {
	position: absolute;
	margin: -9999em;
	display: block;
  clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	opacity: 0;
	overflow: hidden;
}

/* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/* Clearfix
 * The space content is one way to avoid an Opera bug when the “contenteditable”
   attribute is included anywhere else in the document. Otherwise it causes space
   to appear at the top and bottom of elements that receive the “clearfix” class.
*/
.clear:after {
  display: block;
  content: ' ';
  clear: both;
}

/* Clearfix: contain top margin of child elements.
 * Use “table” and “:before” to contain top-margins of child elements.
*/
.clear:before {
  display: table;
  content: ' ';
  clear: both;
}



 /*/
/* Media Queries: override the primary (“mobile first”) styles.
*/


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition. */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high-resolution devices */
}



 /*/
/* Print Styles
*/


@media print {

  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Highlight links.
  */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* Show links for anchor tags, but not for javascript or internal links.
  */
  a[href]:not([href^='javascript:']):not([href^='#']):after {
    content: ' ('attr(href)')';
  }

  /* Show the title of abbreviations in parentheses.
  */
  abbr[title]:after {
    content: ' ('attr(title)')';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

}