# ----------------------------------------------------------------------
# Better website experience for IE users
# ----------------------------------------------------------------------
#
# 1. Force the latest IE version, in cases when it may fall back to IE7 mode. (github.com/rails/rails/commit/123eb25#commitcomment-118920)
# 2. Use ChromeFrame if it's installed for a better experience for IE users.

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
  # mod_headers can't match by content-type, but we don't want to send this header on *everything* …
  <FilesMatch "\.(appcache|crx|css|eot|gif|htc|ico|jpe?g|js|m4a|m4v|manifest|mp4|oex|oga|ogg|ogv|otf|pdf|png|safariextz|svg|svgz|ttf|vcf|webm|webp|woff|xml|xpi)$">
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>